In [1]:
!pip3 install sqlalchemy # ORM for databases
!pip3 install ipython-sql # SQL magic function

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.7/dist-packages (1.4.41)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy) (4.12.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy) (1.1.3)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy) (4.1.1)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy) (3.8.1)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: ipython-sql in /usr/local/lib/python3.7/dist-packages (0.3.9)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.7/dist-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: ipython-genutils>=0.1.0 in /usr/local/lib/python3.7/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: prettytable in /usr/local/lib/python3.7/dist-packages (from ipython-sql) (3.4.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from ipython-sql) (1.15.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in /usr/local/lib/python3.7/dist-packages (from ipython-sql) (1.4.41)
Requirement already satisfied: ipython>=1.0 in /usr/local/lib/python3.7/dist-packages (from ipython-sql) (7.9.0)
Requirement already satisfied: pygments in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (2.6.1)
Requirement already satisfied: pexpect in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (4.4.2)
Collecting jedi>=0.10
  Downloading jedi-0.18.1-py2.py3-none-any.whl (1.6 MB)
     |████████████████████████████████| 1.6 MB 13.5 MB/s
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: backcall in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (57.4.0)
Requirement already satisfied: prompt-toolkit<2.1.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (2.0.10)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /usr/local/lib/python3.7/dist-packages (from jedi>=0.10->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.3)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy>=0.6.7->ipython-sql) (4.12.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy>=0.6.7->ipython-sql) (4.1.1)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy>=0.6.7->ipython-sql) (3.8.1)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.7/dist-packages (from pexpect->ipython>=1.0->ipython-sql) (0.7.0)
Installing collected packages: jedi
Successfully installed jedi-0.18.1

In [2]:
%load_ext sql

## Connect With Your Credentials

The current connection string DOES NOT WORK!   
Make sure to change the YOURUSER:YOURPASSWORD part of the connection string to your team's account information!

In [12]:
%sql postgresql://lx2305:2175@w4111.cisxo09blonu.us-east-1.rds.amazonaws.com/proj1part2

'Connected: lx2305@proj1part2'

In [13]:
# change your password
%%sql ALTER ROLE lx2305   
WITH PASSWORD 'lx23052175';

 * postgresql://lx2305:***@w4111.cisxo09blonu.us-east-1.rds.amazonaws.com/proj1part2
Done.

[]

In [14]:
# create table
# %%sql CREATE TABLE R (
#     A int,
#     B int
# );
# INSERT INTO R VALUES (1,2);
# INSERT INTO R VALUES (3,4);

 * postgresql://lx2305:***@w4111.cisxo09blonu.us-east-1.rds.amazonaws.com/proj1part2
Done.
1 rows affected.
1 rows affected.

[]

In [ ]:
%%sql CREATE TABLE Users (
    email text PRIMARY KEY,
    name text
);

In [ ]:
%%sql CREATE TABLE Added_Posts ( 
    # aggregate Posts and Added
    # exactly one relation
    post_id integer PRIMARY KEY,
    email text NOT NULL,
    title text,
    job_info text,
    FOREIGN KEY (email) REFERENCES Users ON DELETE NO ACTION
);

In [ ]:
%%sql CREATE TABLE Belong_1( 
    # exacly one relation
    company_id NOT NULL
    post_id integer PRIMARY KEY,
    FOREIGN KEY (company_id) REFERENCES Company 
      ON DELETE NO ACTION
);

In [ ]:
%%sql CREATE TABLE Company (
    company_id integer PRIMARY KEY,
    company_name text
);

In [ ]:
%%sql CREATE TABLE Belong_2_Events (
    # aggregate Events and Belong_2
    # exactly one relation
    events_id integer PRIMARY KEY,
    post_id integer NOT NULL,
    description text,
    timestamps TIMESTAMP,
    FOREIGN KEY (post_id) REFERENCES Posts ON DELETE NO ACTION
);

In [ ]:
%%sql CREATE TABLE Updated (
    # exactly one relation
    events_id integer PRIMARY KEY,
    email text NOT NULL,
    description text,
    timestamps TIMESTAMP,
    FOREIGN KEY (email) REFERENCES User ON DELETE NO ACTION
);

In [ ]:
%%sql CREATE TABLE Comments_Attached (
    # aggregate Comments and Attached
    # Comments is a weak entity
    comment_id integer,
    content text,
    PRIMARY KEY (comment_id, post_id),
    FOREIGN KEY (post_id) REFERENCES Posts ON DELETE CASCADE
);

In [ ]:
%%sql CREATE TABLE Followed (
    # many to many relation
    email_1 text,
    email_2 text,  
    PRIMARY KEY (email_1, email_2),
    FOREIGN KEY (email_1) REFERENCES Users,
    FOREIGN KEY (email_2) REFERENCES Users
);

In [ ]:
%%sql CREATE TABLE Wrote (
    # participation constraint
    # create table
    email text REFERENCES Users,
    comment_id integer REFERENCES Comments_Attached,
    content text,
    PRIMARY KEY (email, comment_id),
    CHECK (emial is NOT NULL)
);

In [15]:
# see table R
%sql SELECT * FROM R;

 * postgresql://lx2305:***@w4111.cisxo09blonu.us-east-1.rds.amazonaws.com/proj1part2
2 rows affected.

[(1, 2), (3, 4)]

In [19]:
# see all the tables you have
%%sql SELECT *
FROM pg_catalog.pg_tables
WHERE tableowner='lx2305'

 * postgresql://lx2305:***@w4111.cisxo09blonu.us-east-1.rds.amazonaws.com/proj1part2
0 rows affected.

[]

In [18]:
# drop table
%sql DROP TABLE R;

 * postgresql://lx2305:***@w4111.cisxo09blonu.us-east-1.rds.amazonaws.com/proj1part2
Done.

[]